= f.input :street, input_html: {class: "street"}
= f.input :street2, input_html: {class: "street2"}
= f.input :city, input_html: {class: "city"}
= f.input :province, input_html: {class: "province"}
= f.input :country, input_html: {class: "country"}, label_html: {class: ""}
= f.input :postal_code, input_html: {class: "postal_code"}
