.product{
  .product-image img{
    margin:auto;
    text-align: center;
  }
  .prices{
    .price{
      margin-bottom:10px;
      padding:10px;

      @include transition(box-shadow 500ms);

      &:hover{
        box-shadow: 0px 0px 15px #f0f0f0;
      }
      .name{
        font-weight: 900;
      }
      .amount{
        font-size:1.8em;
        color:$mc_red;
      }
      .add-to-cart{
        
      }
      .actions{
        clear:both;
        span.hint{
          color:#999;
        }
      }
    }
  }
}